@page "/biblioteca-editar/{tituloAlbum}"
@using Lab14
@inject NavigationManager NavigationManager
@inject Biblioteca biblioteca
@using System.ComponentModel.DataAnnotations

<h3>Editar Álbum</h3>

@if (albumExistente != null)
{
    <EditForm Model="@albumExistente" OnValidSubmit="@EditarAlbum">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="tituloAlbum">Título del Álbum:</label>
            <InputText id="tituloAlbum" class="form-control" @bind-Value="@albumExistente.TituloAlbum" />
            <ValidationMessage For="@(() => albumExistente.TituloAlbum)" />
        </div>

        <div class="form-group">
            <label for="artistaAlbum">Artista del Álbum:</label>
            <InputText id="artistaAlbum" class="form-control" @bind-Value="@albumExistente.ArtistaAlbum" />
            <ValidationMessage For="@(() => albumExistente.ArtistaAlbum)" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary ml-2" @onclick="CancelarEdicion">Cancelar</button>
        </div>
    </EditForm>
}
else
{
    <p>Álbum no encontrado.</p>
}

@code {
    [Parameter]
    public string tituloAlbum { get; set; }

    private Album albumExistente;

    protected override void OnInitialized()
    {
        albumExistente = biblioteca.ObtenerAlbumPorTitulo(tituloAlbum);
    }

    private void EditarAlbum()
    {
        biblioteca.EditarAlbum(tituloAlbum, albumExistente);
        NavigationManager.NavigateTo("/biblioteca");
    }

    private void CancelarEdicion()
    {
        NavigationManager.NavigateTo("/biblioteca");
    }
}

